.container {
  margin: 20px auto;
  width: 720px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

header a {
    color: #b39;
}

.links {
    padding: 0;
}

.links li {
    list-style: none;
    padding: 10px;
    margin: 5px;
    background-color: #ff9
}

.title {
    font-family: sans-serif;
}

.content {
    border-bottom: 2px solid grey;
    line-height: 150%;
    font-family: serif;
}

.tags {
    
}

li.inline {
    display: inline-block;
}

a {
    text-decoration: none;
}

.error {
  background-color: #f99;
  color: #000;
}