<div class="container">
  <h2> Welcome to my blog </h2>
  <ul>
    <li><a href="/posts"> View a list of posts </a></li>
    <li><a href="/posts/create"> Create a new post </a></li>
    <li><a href="/tags"> View a list of tags </a></li>
  </ul>
</div>
