<h2> List of tags </h2>
<p> Click a tag to view a list of posts with that tag </p>
<ul class="links">
  <% Tag.all.each do |tag| %>
    <li class="inline"><a href="/tags/<%= tag.id %>"> <%= tag.name %> </a></li>
  <% end %>
</ul>
